In [27]:
import pandas as pd

In [28]:
messages=pd.read_csv('spam.csv',sep='\t',names=["label","message"],encoding='latin-1')

In [29]:
messages

                                                  label  message
0                                              v1,v2,,,      NaN
1     ham,"Go until jurong point, crazy.. Available ...      NaN
2                  ham,Ok lar... Joking wif u oni...,,,      NaN
3     spam,Free entry in 2 a wkly comp to win FA Cup...      NaN
4     ham,U dun say so early hor... U c already then...      NaN
...                                                 ...      ...
5570  spam,"This is the 2nd time we have tried 2 con...      NaN
5571       ham,Will Ì_ b going to esplanade fr home?,,,      NaN
5572  ham,"Pity, * was in mood for that. So...any ot...      NaN
5573  ham,The guy did some bitching but I acted like...      NaN
5574                  ham,Rofl. Its true to its name,,,      NaN

[5575 rows x 2 columns]

In [30]:
## DATA CLEANING and PREPROCESSING
import re
import nltk
from nltk.corpus import stopwords

In [31]:
from nltk.stem import PorterStemmer

In [64]:
ps=PorterStemmer()

In [63]:
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to C:\Users\Abhijit
[nltk_data]     Das\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [51]:
type(messages['message'][i])

numpy.float64

In [65]:
corpus=[]
for i in range(0,len(messages)):
    review=re.sub('[^a-zA-Z]',' ',str(messages['message'][i]))
    review=review.lower()
    review=review.split()
    review=[ps.stem(word) for word in review if not word in stopwords.words('english')]
    review=' '.join(review)
    corpus.append(review)

In [67]:
corpus[i]

'nan'